alabaster==0.7.12
apt-xapian-index==0.49
arandr==0.1.9
Babel==2.7.0
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
cliapp==1.20180812.1
Click==7.0
cmdtest==0.32+git
colorama==0.3.7
configobj==5.0.6
dill==0.3.1.1
dnspython==1.16.0
docutils==0.15.2
dtrx==7.1
enum34==1.1.6
Flask==1.0.2
frida==12.8.7
fskbsetting==0.5.3
idna==2.8
imagesize==1.1.0
ipaddress==1.0.23
itsdangerous==0.24
Jinja2==2.10
lief==0.9.0
lxml==4.3.2
Markdown==3.0.1
MarkupSafe==1.1.0
numpy==1.16.2
packaging==19.2
packettotal-sdk==0.2
Pillow==3.4.2
prompt-toolkit==2.0.10
pyasn1==0.1.9
pybase64==0.5.0
PyBluez==0.22
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
Pygments==2.4.2
PyGObject==3.30.4
pynput==1.4.4
pyparsing==2.4.5
pysmbc==1.0.15.6
python-apt==1.8.4.1
python-debian==0.1.35
python-magic==0.4.15
python-xlib==0.25
pytz==2019.3
PyYAML==3.13
requests==2.21.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
touchpad-indicator==1.1.0
ttystatus==0.38
typing==3.7.4.1
urllib3==1.24.3
urwid==2.0.1
vboxapi==1.0
wcwidth==0.1.7
Werkzeug==0.14.1
xtract==0.1a3
zenmap==7.70
